
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    window.onload = function () {
        CKEDITOR.replace('editör');
    };
</script>


<main id="main" class="main">

    <div class="pagetitle">
        <h1>BLOG</h1>

        <nav>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a >Blog</a></li>
                <li class="breadcrumb-item active">Yeni Ekle</li>

            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">


            <form class="form" id="feedback_form" method="post" action="/Blog/Create/" enctype="multipart/form-data">
               
                <div class="col-md-4">
                    <label for="cname" class="form-label">Başlık</label>
                    <input type="text" class="form-control" id="Baslik" name="Baslik" required>
                </div>

                <div class="col-md-4">
                    <label for="cemail" class="form-label">Kategori</label>
                    @Html.DropDownList("KategoriId", null, new { @class = "form-control" })
                </div>


                <div class="col-md-4">
                    <label for="cemail" class="form-label">İçerik</label>
                    <textarea class="form-control" required id="editör" name="İcerik" ></textarea>
                </div>


                <div class="col-md-4">
                    <label for="validationDefaultUsername" class="form-label">Resim</label>
                    <div class="form-group">
                        <input type="file" class="form-control" name="ResimURL" accept=".jpg,.png,.jpeg" />
                    </div>
                </div>


                <div class="col-12">
                    <button class="btn btn-outline-primary" type="submit">Ekle</button>
                    <button class="btn btn-outline-primary" type="button"> <a href="/Blog/Index">İptal</a></button>
                </div>
            </form>

        </div>
    </section>

</main>