@model IEnumerable<KurumsalWeb.Models.Model.Slider>

@{
    Layout = null;
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

       @foreach(var item in Model) {
        <!-- Slide 1 -->
        <div class="carousel-item active ">
            <div class="carousel-container">
                
                <h3>@item.Baslik</h3>
                <p >@Html.Raw(item.Aciklama)</p>
                <a href="#" class="btn-get-started animate__animated animate__fadeInUp">Devamını Oku</a>
            </div>
        </div>
       }

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>
      
    </div>
</section><!-- End Hero -->
